* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #edf0fe;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    height: calc(100vh - 65px); 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 16px;     
    gap: 24px;
}

.main-content {
    order: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

.sidebar {
    order: -1;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#main-user-heading {
    font-size: 24px;
    margin-bottom: 12px;
}

/* TASKBAR AT THE TOP */

.navbar {
    background-color: #3b5998;
    color: #ffffff;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    position: sticky; /* Fixed navbar */
    top: 0;
    z-index: 1000;
}

.navbar .nav-menu {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.navbar .nav-utilities {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .user-menu {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.navbar li {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.navbar li:hover {
    text-decoration: underline;
}

a {
    outline: none;
    color: inherit;
    border: none;
    text-decoration: none;
}

.search-form{
    display: flex;
    gap: 6px;
}

.search-form input {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    outline: none;
}

.search-form button {
    padding: 6px 12px;
    background-color: #ffffff;
    border: 1px solid;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    color: #3b5998;
    cursor: pointer;
}

/* SIDEBAR */

.profile-actions, .friends-grid {
    list-style-type: none;
}

.profile-actions li {
    font-size: 13px;
    color:#3b5998;
    cursor: pointer;
}

.profile-actions li:hover {
    text-decoration: underline;
}

.bio input {
    width: 100%;
    padding: 6px;
    border: 1px solid;
    border-radius: 3px;
    font-size: 13px;
}

.about-box h3, .friends-box h3 {
    font-size: 14px;
    color: #333;
    padding-bottom: 3px;
    margin-bottom: 8px;
}

.info-data {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 6px 0;
    font-size: 13px;
}

.info-data dt {
    font-weight: bold;
}

.friends-box p a {
    font-size: 13px;
    cursor: pointer;
}

.friends-grid {
    margin-top: 8px;
    display: flex;
    gap: 8px;
    font-size: 13px;
    font-weight: bold;
}

/* DASHBOARD */

.dashboard-actions {
    display: flex;
    list-style-type: none;
    gap: 8px;
    margin-bottom: 16px;
}

.dashboard-actions button {
    border: 1px solid;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}


/* WEBSITE POST ETC */

.profile-nav {
    background-color: rgb(219, 219, 219);
    border: 1px solid;
    border-radius: 4px;
    padding: 16px;
    
    width: 100%;
    flex-grow: 1;

    margin-top: 8px;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
    
}

.profile-nav .profile-2 {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 100px;
    padding-bottom: 12px;
    border-bottom: 1px solid;
    margin-bottom: 16px;
    font-weight:600;
}

.profile-nav .profile-2 li:hover {
   text-decoration: underline;
   cursor: pointer;
}