* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #d9d9d7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.login-container {
    width: 100%;
    max-width: 450px;
    text-align: center;
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

}

.login-header {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border-color: gray;
    border-radius: 15px;
    border-width: 10px;
    box-shadow: 10px 10px 10px;
}